body {
    background-color: rgba(10, 10, 10, 1);
}

h1{
    color: white;
    margin-top: 1%;
    margin-bottom: 0px;
    text-align: center;
    font-size: 260%;
    font-family: 'Nunito', sans-serif;
}

.text {
    color: white;
    background-color: rgba(31, 31, 31, 1);
    border: solid white 2px;
    font-size: 125%;
    font-family: 'Nunito', sans-serif;
}

.par1 {
    margin: 3.5% 65% 0% 3.5%;
    padding: 1%;
}

.par2{
    margin: -12.5% 3% 1.5% 38%;
    padding: 1.2%;
}

.imageDiv{
    margin-top: -16%;
    margin-left: 2vw;
    border-style: solid;
    border-color: white;
    width: 34vw;
    height: 35vh;
}

.nextPage{
    margin: -1.7% 0% 0% 85%;
    font-family: inherit;
}

.nextPage a{
    color: white;
    background-color: rgba(25, 25, 25, 1);
    text-decoration: none;
    border: solid white 2px;
    padding: 2vh 1vw;
    font-size: 150%;
}