body {
    background-color: rgba(10, 10, 10, 1);
}

h1{
    color: white;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 210%;
    font-family: 'Nunito', sans-serif;
}

.text {
    color: white;
    background-color: rgba(23, 23, 23, 1);
    border: solid white 2px;
    font-size: 125%;
    font-family: 'Nunito', sans-serif;
    padding: 1% 3%;
}

.addSpaceTop{
    margin-top: 5%;
}

.removeSpaceLeft{
    margin-left: -5%;
}

.subject{
    font-size: 115%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.query{
    text-align: center;
}

.answer{
    margin-left: 45%;
    margin-bottom: 1%;
}

.inputTest{
    background-color: rgba(10, 10, 10, 1);
    color: white;
    text-align: left;
    margin-top: 1%;
    width: 100%;
    height: 30%;
    resize: none;
    font-size: 125%;
    padding: 0.7% 1%;
}

.results{
    background: rgba(15, 15, 15, 1);
    border: solid dimgray 2px;
    padding: 1% 2%;
    margin-left: 40%;
    width: 20%;
    margin-top: -3.2%;
}

.submitButton{
    color: white;
    background: rgba(15, 15, 15, 1);
    border: solid white 2px;
    font-size: 120%;
    margin-left: 67%;
    margin-top: 3.2%;
}

.contactText{
    font-size: 160%;
    margin-left: 5%;
    padding: 2%;
    color: white;
    background: rgba(15, 15, 15, 1);
    width: 40%;
    border: solid dimgray 2px;
}

.contactCode{
    margin-top: -20%;
    margin-left: 10%;
    border: solid white 2px;
}

.contactAdjud{
    margin-left: 60%;
    margin-top: -14%;
    border: solid white 2px;
}






