body{
    background-color: rgba(10, 10, 10, 1);
}

h1{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 190%;
    text-align: center;
}

.text{
    color: white;
    font-family: 'Nunito', sans-serif;
    background-color: rgba(31, 31, 31, 1);
    font-size: 120%;
    padding: 2vh 2vw;
    border-style: solid;
    border-color: dimgray;
    border-width: 2px;
    margin: 1vh 0.5vw;
}

.par{
    font-size: 130%;
    margin-bottom: 1.5%;
}

.code{
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: rgba(10, 10, 10, 1);
    padding: 2vh 3vw;
    border: solid white 1px;
}

.colRed{
    color: rgba(226, 29, 29, 1);
    display: inline;
}

.colCyan{
    color: rgba(28, 207, 217, 1);
    display: inline;
}

.colPurple{
    color: rgba(113, 28, 217, 1);
    display: inline;
}

.colGreen{
    color: rgba(18, 181, 13, 1);
    display: inline;
}

.colYellow{
    color: yellow;
    display: inline;
}

.colComment{
    color: grey;
    display: inline;
}

.myInput{
    margin-left: 5%;
}

.inputButton{
    font-size: 100%;
    color: white;
    background: rgba(15, 15, 15, 1);
    border: solid white 1px;
}

.myInputText{
    background: rgba(10, 10, 10, 1);
    color: white;
    border: solid white 1px;
    font-size: 100%;
    padding: 0.2% 0.5%;
    margin-top: 1.5%;
    width: 90%;
    margin-bottom: 1.5%;
}

table, th, td{
    border: solid white 2px;
    text-align: center;
    padding: 0.5vh 0.5vw;
}

.myGraph{
    overflow-x: auto;
}

.myTable{
    background-color: rgba(10, 10, 10, 1);
    border: solid white 2px;
    border-collapse: collapse;
    color: white;
    font-size: 4vh;
    margin: auto;
}

.myValues{
    background-color: rgba(10, 10, 10, 1);
    border: solid dimgray 2px;
    padding: 1.5% 1%;
}

.nextPage{
    margin: 2% 0% 1% 85%;
    font-family: inherit;
}

.nextPage a{
    color: white;
    background-color: rgba(25, 25, 25, 1);
    text-decoration: none;
    border: solid white 2px;
    padding: 2vh 1vw;
    font-size: 110%;
}